@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab:wght@300&display=swap");

html {
  font-size: 16px;
}

/* Initialization */
* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  transition: 300ms;
}

:root {
  --primary-color: #e53e51;
  --text-color: #372e3d;
  --ascent-color: #fbfffb;
  --secondary-color: #deb36d;
  --font-size-small: 12px;
  --font-size-medium: 14px;
  --font-size-h4: 1.2rem;
  --font-size-h3: 1.5rem;
  --font-size-h2: 2rem;
  --font-size-h1: 3rem;
}

body {
  background-image: url(cool-background.png);
  background-color: var(--ascent-color);
  font-family: "Poppins", sans-serif;
}

/* Nav  */
.nav-container {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin: 4% 5%;
}

.nav-container h1{
  font-size: var(--font-size-h2);
  color: var(--text-color);
  text-decoration: underline;
}

.nav-container h1:hover {
  cursor: pointer;
  color: var(--secondary-color);
}

.nav-container ul.menu {
  color: var(--text-color);
}

.nav-container ul.menu li {
  font-variant: "sans-serif";
  display: inline;
  text-decoration: none;
  margin: 0 20px;
}

.nav-container ul.menu li:hover {
  transform: scale(1.2);
  color: var(--secondary-color);
  cursor: pointer;
}

.hamburger {
  display: none;
  flex-direction: column;
}

.line {
  width: 25px;
  height: 3px;
  background-color: var(--text-color);
  margin: 3px;
}

/* End of Nav*/

/* Hero Section*/
section.hero {
  display: flex;
  flex-wrap: wrap;
  margin: 8% 15% 0 15%;
  align-content: center;
  justify-content: center;
}

section.hero h1 {
  font-size: var(--font-size-h1);
  line-height: 4rem;
  text-align: center;
  font-weight: bold;
  color: var(--text-color);
}

.searchbar {
  margin: 30px 0px;
  display: flex;
  justify-content: center;
  width: 80%;
}

.searchbar input {
  font-family: "Poppins";
  font-weight: var(--font-size-h4);
  width: 70%;
  height: 40px;
  margin: 0 1%;
  border-radius: 5px;
  border: var(--text-color) 2px solid;
  background-color: var(--ascent-color);
}

.searchbar input::placeholder {
  font-weight: regular;
  padding-left: 1px;
  opacity: 80%;
}

.searchbar input.UserInput {
  padding-left: 15px;
}

.searchbar button {
  width: 10%;
  height: 40px;
  box-shadow: 2px 2px 2px #bdb6c1;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font: var(--font-size-h4);
  color: var(--ascent-color);
  background-color: #372e3d;
  padding: 3px 10px;
  transition: 500ms;
}

.searchbar button:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
}

.keywords-title {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.keywords-title h3 {
  text-align: left;
  color: var(--text-color);
}
.keywords-container {
  display: flex;
  justify-content: center;
}

.keywords-container ul {
  display: flex;
  list-style-type: none;
}

.keywords-container ul li {
  color: var(--text-color);
  margin-right: 15px;
  padding-right: 10px;
  border-right: 1px solid var(--text-color);
}

.keywords-container ul li:last-child {
  border: none;
}

.keywords-container ul li:hover {
  cursor: pointer;
  color: var(--secondary-color);
}

.HeroImageCouch-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: black 1px solid; */
  padding: 5% 0;
}

.HeroImageCouch-container img {
  /* border: black 1px solid; */
  visibility: hidden;
}

/* about section */

.section-title {
  display: flex;
  justify-content: left;
  padding: 2% 10%;
  width: 100%;
}

.section-title h1 {
  color: var(--text-color);
  font-size: var(--font-size-h2);
  border-bottom: var(--text-color) 3px solid;
}

.section-title h1:hover {
  color: var(--secondary-color);
  cursor: pointer;
  border-bottom: var(--secondary-color) 3px solid;
}

.about-container {
  display: grid;
  grid-template-columns: 50% auto;
  place-items: end center;
  margin: 0 5% 5% 10%;
}

.about-container .about-information .about-header h2 {
  font-size: var(--font-size-h3);
  color: var(--text-color);
  margin-bottom: 10px;
}

.about-container .about-paragraph p {
  font-size: var(--font-size-medium);
  line-height: 25px;
  margin-bottom: 5%;
}

.about-container .about-paragraph p span {
  font-weight: bolder;
}

.about-container .about-paragraph p span:hover {
  cursor: pointer;
}

/* services section */
.services-title {
  width: 100%;
  display: flex;
  justify-content: left;
  padding: 3% 9%;
}

.services-title h1 {
  color: var(--text-color);
  border-bottom: solid 3px var(--text-color);
}
.services-title h1:hover {
  color: var(--secondary-color);
  border-bottom: solid 3px var(--secondary-color);
  cursor: pointer;
}

.services-container {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  place-content: center;
  padding: 0% 8%;
}

.services-container .service-box {
  margin: 0 5%;
  padding: 0 5%;
  color: var(--text-color);
  border: var(--text-color) solid 1px;
  border-radius: 10px;
}

.services-container .service-box h2 {
  font-size: var(--font-size-h3);
  text-align: center;
  margin-bottom: 5px;
}

.services-container .service-box p {
  font-size: var(--font-size-medium);
  line-height: auto;
  padding: 2%;
  border-top: 1px var(--text-color) solid;
}


/* section-divider */
.section-divider .spacing{
  height: 10%;
  width: 100%;
  padding: 5%;
}

/* contact section  */

 form.contact-form{
  width: 50%; 
  margin: 0 25%; 
  color: var(--text-color);
  text-align: center;
}

form.contact-form label {
  font-size: var(--font-size-h4);
  display: block; 
  margin-bottom: 10px; 
  text-align: left;
}

form.contact-form input[type="text"],
input[type="email"],
textarea {
  width: 100%; 
  padding: 10px; 
  margin-bottom: 10px; 
  border-radius: 5px;
  border: var(--text-color);
}

form.contact-form textarea{
  height:100px;
}

form.contact-form input[type="submit"] {
  width: 50%; 
  padding: 10px; 
  display: inline-block;
  text-align: center;
  background-color: var(--secondary-color); 
  color: white; 
  border: none;
  font-size: var(--font-size-medium);
  font-weight: bold; 
  border-radius: 5px;
}

form.contact-form input[type="submit"]:hover{
  background-color: var(--text-color);
  color: var(--ascent-color);
  cursor: pointer;
}

footer{
  display: grid;
  padding: 5%;
  height: auto;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  border: var(--primary-color);
  background-color: var(--text-color);
  color: var(--ascent-color);
}

footer h4{
  font-size: var(--font-size-h4);
}

.ul-footer{
  list-style: none;
  font-size: var(--font-size-medium);
  font-weight: lighter;
}

.ul-footer li{
  margin-top: 10px;
}

svg.footer-svg{
 margin-right: 5px ;
 cursor: pointer;
}

footer .footer-nav ul li:hover{
cursor: pointer;
padding-left: 5%;
border-left: 3px solid var(--secondary-color);
color: var(--secondary-color);
}

footer .footer-ContactUs ul li{
  padding: 20px 0;
  border-bottom: solid 1px #BCBCBC;
}


.footer-inquiry button{
  padding: 10px;
  font-weight: bolder;
  color: var(--ascent-color);
  background-color: var(--secondary-color);
  border-radius: 5px;
  border: none;
  margin-top: 10px;
}

.footer-inquiry button:hover{
  padding: 10px 20px ;
  cursor: pointer;
}

.footer-inquiry h2{
  text-decoration: underline;
  font-size: var(--font-size-h2);
}


.copyright-container{
  display: grid;
  grid-template-columns: auto;
  width: 100%;
  justify-content: center;
  align-content: space-between;
  text-align: center;
  padding: 2%;
  background-color: var(--secondary-color);
}

.copyright-container p:hover{
cursor: pointer;
color: var(--ascent-color);
}

.copyright-container ul{
  list-style-type: none;
  margin-top: 10px;
}

.copyright-container ul li{
  display: inline;
  margin: 5%;
  color: var(--text-color);
  transform: translateX(20%);
}

.copyright-container ul li:hover{
  border-bottom: 3px solid var(--text-color);
  cursor: pointer;
}

.copyright-icons ul li svg{
  transition: transform 500ms;
}

.copyright-icons ul li svg:hover{
  transform: translateY(-20%);
}

/* media queries */
@media (min-width: 800px) and (max-width: 1400px) {
  .searchbar button {
    width: 15%;
  }
  .services-container {
    grid-template-columns: auto auto;
  }
  .services-container .service-box {
    margin-top: 5%;
  }

  .about-container {
    grid-template-columns: auto;
  }
  .about-container .about-image {
    display: none;
  }
  footer{
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
}


@media (max-width: 799px) {
  html {
    font-size: 12px;
  }
  ul {
    display: none;
  }
  form.contact-form{
    width: 75%; 
    margin: 0 10%;
    
  }
  .hamburger {
    display: flex;
  }

  .hamburger:hover {
    cursor: pointer;
  }

  .show {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .searchbar input {
    width: 80%;
  }
  .searchbar button {
    width: 25%;
    padding: 0 3px;
  }

  .HeroImageCouch-container img {
    width: 75%;
  }

  .services-title {
    padding-top: 5%;
  }
  .services-container {
    grid-template-columns: auto;
  }

  .services-container .service-box {
    margin-top: 5%;
  }
  .about-container {
    grid-template-columns: auto;
  }
  .about-container .about-image {
    display: none;
  }

  footer{
    grid-template-columns: auto ;
    grid-template-rows: auto auto auto;
    padding: 1%;
    height: auto;
  }
}
